*.mp4 filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
TensorVideo1.zip filter=lfs diff=lfs merge=lfs -text
TensorVideo2.zip filter=lfs diff=lfs merge=lfs -text
TensorVideo2_720p.mp4 filter=lfs diff=lfs merge=lfs -text
Tensors_Contraction_and_Einstein.mp4 filter=lfs diff=lfs merge=lfs -text
